.panel.panel-default
  .panel-heading
    Pick day
  .panel-body
    = simple_form_for :picked_date, url: holiday_checker_path, method: :put do |f|
      = f.input :date, input_html: { class: 'datepicker' }
      = f.button :submit, 'Submit'
